// _mixins.scss
@mixin visually-hidden {
  position: absolute !important;
  height: 1px; width: 1px;
  overflow: hidden;
  clip: rect(1px, 1px, 1px, 1px);
  white-space: nowrap;
}

@mixin respond-to($bp) {
  @if $bp == tablet {
    @media (min-width: 768px) { @content; }
  } @else if $bp == desktop {
    @media (min-width: 1024px) { @content; }
  }
}
